<a href="https://colab.research.google.com/github/hydedada0129/hello/blob/master/stock%20price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import requests
site = "https://query1.finance.yahoo.com/v8/finance/chart/2330.TW?period1=0&period2=1549258857&interval=1d&events=history&=hP2rOschxO0"

# 利用 requests 來跟遠端 server 索取資料
response = requests.get(site)

import json
import numpy as np
import pandas as pd

data = json.loads(response.text)
df = pd.DataFrame(data['chart']['result'][0]['indicators']['quote'][0], index=pd.to_datetime(np.array(data['chart']['result'][0]['timestamp'])*1000*1000*1000))
df.head()

                         close       open        low        volume       high
2000-01-04 01:00:00  69.649033  69.649033  68.475182  2.006623e+11  69.649033
2000-01-05 01:00:00  71.214043  69.649033  68.866341  4.024668e+11  71.214043
2000-01-06 01:00:00  69.649033  70.822884  69.649033  1.975457e+11  71.214043
2000-01-07 01:00:00  67.692490  67.301331  66.518639  2.352703e+11  68.475182
2000-01-10 01:00:00  70.040192  69.649033  68.475182  2.761717e+11  70.431351